body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background: #f4f4f4;
    color: #333;
}
.item {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

button {
    color: white;
    background-color: #007BFF;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
